__pycache__/
*/*__pycache__/
*.py[cod]
#.vscode/
# venv? возможно не весь а только папка с модулями
venv/

*.log
*.env
*.json
!*conf*.json
.DS_Store
#vscode 2 раза
.vscode/

#что за storage??
storage/ 